:root {
    --color-primario: rgb(230, 230, 255) ;
    --color-secundario: rgb(0, 117, 255) ;
    --color-resaltado: rgba(0, 117, 255, 0.5);
    --color-hover: rgba(0, 117, 255, 0.8);
}

.navegador {
    grid-column: 3 / 9;
    grid-row: 4 / 6;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--color-primario);
    grid-template-columns: repeat(3, 1fr);
}

.progreso {
    grid-column: 1 / 4;
    grid-row: 1 / 2 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-top: -15px;
}

.tiempo-progreso {
    position: absolute;
    right: 30px;
}

.barra-progreso {
    grid-column: 1 / 4;
    width: 100%;
    margin: 0 25px;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    height: 18px;
    background: var(--color-resaltado);
    border: 1px solid rgb(80, 80, 80);
    border-radius: 9px;
}

.barra-progreso::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
    box-shadow: -300px 0 0 300px var(--color-secundario);
}

.volumen {

    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    color: var(--color-primario);
    width: 120px;
    height: 32px;
    margin-left: 25px;
}

.vol-text {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.vol-text p:first-child {
    grid-column: 1 / 2;
    display: inline-block;
    width: 40%;
}

.vol-text p:last-child {
    grid-column: 2 / 3;
    display: inline-block;
    width: 40%;
}

.volumen-control {
    width: 120px;
}

.volumen-cantidad {
    color: var(--color-secundario);
}

.control-principal {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.control-secundario {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: flex;
    justify-self: flex-end;
    margin-right: 25px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--color-primario);
    width: 120px;
    -webkit-app-region: no-drag;
}

.suffleNoActive,
.repeat, .suffle {
    font-size: 24px;
}

.repeat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 24px;
    color: var(--color-resaltado);
}

.suffle {
    width: 60px;
    color: var(--color-resaltado);
}

.suffleActive {
    color: var(--color-secundario);
    font-size: 24px;
}

.repeatActive {
    color: var(--color-secundario);
    font-size: 24px;
}

.one-all {
    font-size: 24px;
    color: var(--color-secundario);
    width: 60px;
    padding-right: 20px;
}

.buttons {
    font-size: 24px;
    color: var(--color-primario);
}

.buttons:hover, .play:hover  {
    color: var(--color-secundario);
}

.buttons:active, .play:active {
    color: var(--color-secundario);
}

.play {
    font-size: 50px;
    color: var(--color-secundario);
    overflow: hidden;
}

.fa-circle-play {
    position: relative;
    color: var(--color-secundario);
    z-index: 1;
}

.fa-circle-play::after {
    content: '';
    position: absolute;
    width: 79%;
    height: 95%;
    background: var(--color-primario);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

body.compact .navegador {
    grid-column: 2 / 11;
    grid-row: unset;
    overflow: hidden;
}

body.compact .buttons, body.compact .play {
    font-size: 2vw;
}

body.compact .control-secundario {
    font-size: 14px;
}

body.compact .repeat, body.compact .suffle {
    font-size: 24px;
}

body.compact .one-all {
    font-size: 6px;
}