:root {
    --color-primario: rgb(230, 230, 255) ;
    --color-secundario: rgb(0, 117, 255) ;
    --color-resaltado: rgba(0, 117, 255, 0.5);
}

.playlistZone {
    -webkit-app-region: no-drag;
    grid-column: 9 / 13;
    grid-row: 2 / 6;
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    color: var(--color-primario);
    height: 200px;
    justify-content: space-between;
}

.playListContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 144px ;
}

.playListContent p {
    color: var(--color-primario);
}

.guardarPlaylist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: end;
}

.guardarPlaylist p,
.guardarPlaylist button {
    color: var(--color-primario);
}

.guardarPlaylist p,
.guardarPlaylist button,
.gusrdarPlaylist input {
    height: 16px;
}

#inputGuardar {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--color-resaltado);
    color: var(--color-primario);
    outline: none;
    border: none;
    padding: 0 3px;
}

.guardarPlaylist button {
    width: 70px;
}

.line {
    color: var(--color-primario);
}

.playList {
    width: 100%;
    height: 125px;
    max-height: 130x;
    overflow: auto;
    padding: 2px 5px;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 5px;
}

.playList::-webkit-scrollbar {
    width: 2px;
}

.playList::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario);
}

.track {
    display: flex;
    justify-content: space-between;
}

.eliminar {
    background: transparent;
}

.eliminarBtn {
    color: var(--color-primario);
    background: transparent;
    color: var(--color-secundario)  ;
}

.eliminarBtn:hover {
    color: var(--color-primario);
}

.hidden {
    display: none;
}

.isFolderBtn {
    width: 25%;
    background: transparent;
    color: var(--color-primario);
    display: flex;
    align-items: center;
    gap: 4px;
}

.isFolderBtn:hover {
    color: var(--color-secundario);
}

.folder {
    font-size: 20px;
}

.folderText {
    font-size: 16px;
}

.listBtn {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.active {
    background-color: var(--color-resaltado);
}

.i-color {
    color: var(--color-resaltado);
}

button i:active {
    color: var(--color-resaltado);
}

.division {
    margin: 10px 0;
}

.item-playlist {
    width: 100%;
    text-align: start;
    color: var(--color-primario);
    height: 20px;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track:hover {
    background-color: var(--color-resaltado);
}

.listaVacia {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.listaVacia h2 {
    font-size: 32px;
    color: var(--color-resaltado);
}

.listaVacia p {
    color: var(--color-primario);
    color: var(--color-resaltado);
    font-weight: 800;
}

body.compact .playlistZone {
    display: none;
}