* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.titlebar {
    -webkit-app-region: drag;
}


button,
input {
    -webkit-app-region: no-drag;
}

html,
body {
    overflow: hidden;
}

body {
    user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 0.3s;
}

.reproductor {
    background-color: transparent;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

main {
    background-color: rgb(50, 50, 50);
    display: grid;
    width: 1262px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px 30px;
    border-radius: 30px;
    background: linear-gradient(180deg, #0819aa 0%,#0819aa 1%, #020054 25% , #020054 75% , #0819aa 99%, #0819aa 100% );
    overflow: hidden;
    box-shadow: 1px 1px 8px 3px #023BE6;
}

.barra-cerrar {
    display: flex;
    background: transparent;
    height: 50px;
    position: relative;
    justify-content: end;
    align-items: center;
    width: 1262;
}

.container-button-main {
    width: 25px;
    height: 25px;
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 0.5px solid rgb(100, 100, 100);
    margin-top: 10px;
}

.minimizar,
.cerrar {
    border: none;
    font-weight: bold;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: rgb(100, 100, 100);
}

.red:hover {
    color: rgb(255, 100, 100);
}

.yellow:hover {
    color: rgb(255, 255, 255);
}

.minimizar:hover,
.cerrar:hover {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:focus-visible {
    outline: 2px solid #666;
}

body.compact .reproductor {
    width: 1300px;
    height: 80px;
}

body.compact main {
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    width: 1240px;
    height: 60px;
    padding: 5px 20px;
    position: absolute;
    z-index: 0;
}

body.compact .barra-cerrar {
    position: relative;
    width: 120px;
    top: 25px;
    right: 30px;
    justify-self: end;
    z-index: 10;
    -webkit-app-region: no-drag;
    height: 0;
}

body.compact .titlebar {
    -webkit-app-region: no-drag;
}