* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.titlebar {
    -webkit-app-region: drag;
}


button,
input {
    -webkit-app-region: no-drag;
}

body {
    background-color: transparent;
}

.reproductor {
    background-color: transparent;
    overflow: hidden;
}

.datos {
    grid-column: 3 / 9;
    grid-row: 1 / 3;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
}

.titulos {
    text-align: center;
    scale: 1.5;
}

.title {
    min-width: 0;
    display: inline-block;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 35px;
}

.progreso {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.tiempo-progreso {
    position: absolute;
    right: 60px;
}


.barra-progreso {
    width: calc(100% - 100px);
    margin: 0 50px;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    height: 16px;
    background: rgb(80, 80, 80);
}

.barra-progreso::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
    box-shadow: -300px 0 0 300px #0075ff;
}

main {
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px 30px;
    border-radius: 30px;
    border: 0.5px solid rgb(100, 100, 100);
}

.barra-cerrar {
    display: flex;
    background: transparent;
    height: 50px;
    position: relative;
    justify-content: end;
    align-items: center;
}

.container-button-main {
    width: 25px;
    height: 25px;
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 0.5px solid rgb(100, 100, 100);
    margin-top: 10px;
}

.minimizar,
.cerrar {
    border: none;
    font-weight: bold;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: rgb(100, 100, 100);
}

.red:hover {
    color: rgb(255, 100, 100);
}

.yellow:hover {
    color: rgb(255, 255, 255);
}

.minimizar:hover,
.cerrar:hover {
    cursor: pointer;
}

.miselanios {
    -webkit-app-region: no-drag;
    grid-column: 9 / 13;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    color: whitesmoke;
    gap: 10px;
}

.playListContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.playListContent p {    color: #0075ff;

}

.playList {
    width: 100%;
    max-height: 125px;
    overflow: auto;
    padding: 2px 5px;
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
}

.playList::-webkit-scrollbar {
    width: 2px;
}

.playList::-webkit-scrollbar-thumb {
    background-color: #0075ff;
}

.caratula {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.caratula img {
    height: 100%;
    width: 100;
}

.navegador {
    grid-column: 3 / 9;
    grid-row: 3 / 5;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.volumen {
    grid-column: 1 / 2;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.vol-text {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.vol-text p:first-child {
    grid-column: 1 / 2;
    display: inline-block;
    width: 40%;
}

.vol-text p:last-child {
    grid-column: 2 / 3;
    display: inline-block;
    width: 40%;
}

.volumen-control {
    margin: 0 50px;
    width: calc(100% - 50px);
}

.volumen-cantidad {
    color: #0075ff;
}

.control-principal {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
}

.control-secundario {
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.buttons {
    font-size: 50px;
    color: #0075ff;
}

.play {
    font-size: 50px;
    color: #0075ff;
}

button {
    background-color: rgb(50, 50, 50);
    border: none;
}

button:hover {
    cursor: pointer;
}

.isFolderBtn {
    width: 80%;
    background-color: whitesmoke;
    height: 40px;
}

.listBtn {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.active {
    background-color: #0075ff;
}

.i-color {
    color: rgba(0, 117, 255, 0.5);
}

button i:active {
    color: rgba(0, 117, 255, 0.5);
}

.suffleNoActive, .repeat {
    font-size: 36px;
}

.suffleActive {
    color: #0075ff;
    font-size: 36px;
}

.repeat-container {
    position: relative;
}

.repeat {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repeatActive {
    color: #0075ff;
}  

.one-all {
    position: absolute;
    font-size:9px;
    top: 36%;
    left: 30%;
}

.item-playlist  {
    width: 100%;
    text-align: start;
    color: whitesmoke;
    height: 20px;
    background-color: transparent;
}